# macOS
.DS_Store

# Xcode / build artifacts
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager
.build/
.swiftpm/

# Distribution artifacts
dist/
*.dmg
*.zip

notes/
